.services-cont{
    transition: transform .2s; /* Animation */
/* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(185,182,220,1) 0%, rgba(148,187,233,1) 100%); */
    box-shadow: 1rem;
    margin-top: 5rem;
    
   
}
/* .services-cont:hover{
    transform: scale(1.5);
} */.ofc-img{
    
    height: 10%;
    width: 10%;
    border-radius: 50% !important;
    border-width: 2rem;
    border: 1px solid black;
    transform: scale(0.5);
}