.p-treat{
    /* background-color: rgb(77, 36, 129);
    color: white;
    height: 350px;
    width: 500px;
    margin-top: 80px;
    text-align: center; */

    width: 100%;
    margin-left: 0;
    background-color: #490f76;
    padding: 30px;
    margin-top: 2rem;
    margin-bottom: 0;
    color: #fff!important;
    box-shadow: 2px 2px 2px 2px black;
    transform: skewY(3deg);
    border-radius: 2rem;

    

}
.para-span{
    color: goldenrod;
    font-style: italic;
    font-weight: bolder;
}
p{
    display: block;
    
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.who-para{
font-size: 28px;
line-height: 33px;
margin-bottom: 20px;
font-family: 'quentinregula';

}