.about-cont{
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: rgb(5, 151, 12);
    text-shadow: 0px 0px 2px black;
    padding: 2rem;
    margin-left: 0;
    
}
.digi-p{
    font-family: cursive;
}