* {
    padding: 0;
    margin: 0;
}
.Header {
    padding-right: 1rem;
   padding-top: 0 !important;
    height: 5.8vh;
    border: none !important;
    z-index: 110;
    background-color: rgb(10, 10, 230) !important;
    color: white !important;
 
}
.Header .fa-twitter{
    color: white;
    font-size: 18px;
    padding-top: 00.5rem;
    
    
}
.Header .fa-phone-alt{
    color: white !important;
    
}
.Header .fa-envelope{
    color: white;
 }
 .Header .fa-linkedin{
     color: white;
 }
 .Header .fa-youtube{
     color: white;
 }
.Header .fa-instagram {
    color: white !important;
    font-size: 18px;
    padding-top: 00.5rem;
    
}
.Header .fa-instagram:hover{
    color: rgb(23, 235, 23);
}

.Header .fa-facebook {
    color: white !important;
    font-size: 18px;
    padding-top: 00.5rem;
}


.Header .navbar-nav .nav-link {
    
    font-weight: 500;
    color: rgb(38, 37, 37);
    margin-right: 0.5rem;
    


}
.Header .navbar-nav .nav-link img {
    height: 30px;
    width: 30px;
 
}

@media (max-width: 768px) {
    .Header .navbar-nav .nav-link {
        font-size: 15px;
    }
    .Header .navbar-nav .nav-link .fa-whatsapp {
        background-color: green;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        color: white;
        padding-left:5px;
        padding-top:5px;
        font-size: x-large;
    }
    .Header .navbar-nav .nav-link {
        margin-right: 0 ;
        
    }
    .Header {
        padding-right: 0.5rem;
        background-color: blue !important;
    }
}

